#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Rectangle_1 {
  position: absolute;
  width: 134.0px;
  min-height: 5.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Rectangle_1 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_1 span {
  color: #0D0D0D;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #0D0D0D;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #FDCC31;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Button_1 {
  position: absolute;
  width: 332.35406494140636px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FDCC31;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Button_1 > .borderLayer {
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.8px;
  line-height: 20px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.8px;
  line-height: 20px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_5 span {
  color: #FDCC31;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FDCC31;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Input_6 input::-webkit-input-placeholder {
  color: #434343;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Input_6 input::-moz-placeholder {
  color: #434343;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Input_6 input:-moz-placeholder {
  color: #434343;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Input_6 input:-ms-input-placeholder {
  color: #434343;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Input_6 {
  position: absolute;
  width: 330.0px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Input_6 .valign {
  vertical-align: middle;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Input_6 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Input_6 > .backgroundLayer {
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
  border-bottom-left-radius: 27px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Input_6 > .backgroundLayer > .colorLayer {
  background-color: #F6F6F6;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Input_6 > .borderLayer {
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
  border-bottom-left-radius: 27px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Input_6 > .backgroundLayer {
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
  border-bottom-left-radius: 27px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Input_6 .paddingLayer {
  padding-top: 13px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 22px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_9 {
  position: absolute;
  width: 80.74999999999955px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_9 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Path_2 {
  position: absolute;
  width: 330.0px;
  height: 55.0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Path_13 {
  position: absolute;
  width: 19.5px;
  height: 13.2916259765625px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Ellipse_1 {
  width: 7.0px;
  height: 7.0px;
  min-height: 7.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #666666;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Ellipse_2 {
  width: 7.0px;
  height: 7.0px;
  min-height: 7.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #666666;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_3 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Ellipse_3 {
  width: 7.0px;
  height: 7.0px;
  min-height: 7.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #666666;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_4 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Ellipse_4 {
  width: 7.0px;
  height: 7.0px;
  min-height: 7.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: #666666;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_5 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_5 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_5 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Ellipse_5 {
  width: 7.0px;
  height: 7.0px;
  min-height: 7.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_5 > .backgroundLayer > .colorLayer {
  background-color: #666666;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_6 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_6 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_6 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Ellipse_6 {
  width: 7.000000000000114px;
  height: 7.0px;
  min-height: 7.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_6 > .backgroundLayer > .colorLayer {
  background-color: #666666;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_7 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_7 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_7 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Ellipse_7 {
  width: 7.000000000000114px;
  height: 7.0px;
  min-height: 7.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_7 > .backgroundLayer > .colorLayer {
  background-color: #666666;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_11 {
  position: absolute;
  width: 83.74999999999955px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_11 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_10 span {
  color: #92959F;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #92959F;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_12 span {
  color: #0D0D0D;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #0D0D0D;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_9 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_9 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_9 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Ellipse_9 {
  width: 35.0px;
  height: 34.0px;
  min-height: 34.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_9 > .backgroundLayer > .colorLayer {
  background-color: #FDCC31;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Path_1 {
  position: absolute;
  width: 93.19058227539062px;
  height: 93.19184875488281px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_11 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_11 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_11 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Ellipse_11 {
  width: 8.173076923076906px;
  height: 8.095238095238074px;
  min-height: 8.095238095238074px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_11 > .backgroundLayer > .colorLayer {
  background-color: #FDCC31;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_10 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_10 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_10 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Ellipse_10 {
  width: 8.173076923076906px;
  height: 8.095238095238074px;
  min-height: 8.095238095238074px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_10 > .backgroundLayer > .colorLayer {
  background-color: #FDCC31;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_8 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_8 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_8 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Ellipse_8 {
  width: 23.46000671386716px;
  height: 23.236578078497104px;
  min-height: 23.236578078497104px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_8 > .backgroundLayer > .colorLayer {
  background-color: #FDCC31;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Rectangle_3 {
  position: absolute;
  width: 375.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Rectangle_3 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_8 {
  position: absolute;
  width: 36.0px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Helvetica',Arial;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-style: normal;
  font-weight: 400;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-style: normal;
  font-weight: 400;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Paragraph_8 span#rtr-s-Paragraph_8_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Helvetica',Arial;
  font-size: 10.2pt;
  font-style: normal;
  font-weight: 400;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Path_20 {
  position: absolute;
  width: 23.0px;
  height: 12.333333015441895px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Path_21 {
  position: absolute;
  width: 1.3280372619628906px;
  height: 4.0px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Path_22 {
  position: absolute;
  width: 17.0px;
  height: 6.333333969116211px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Path_23 {
  position: absolute;
  width: 15.272381782531738px;
  height: 10.965571403503418px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 #s-Path_24 {
  position: absolute;
  width: 17.0px;
  height: 10.666667938232422px;
}
#s-567eeee5-f0cc-48b1-a6ca-8ca6198ae1a7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}